*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 400px;
    text-align: center;
    height: 30px;
}
a{
    text-align: right;
    text-decoration: none;
}
img{
    width: 100%;
}
.navbar{
    height: 50px;
    color: white;
    padding: 10px;
}

.container{
    max-width:400px;
    margin: 0 auto;
}